<div class="row bg h-100 w-100  d-flex justify-content-between align-items-center">
  <div class="col-lg-7 mx-0 d-flex justify-content-center align-items-center ">
      <app-about class="p-3"></app-about>
  </div>
  <div class="col-lg-5  mx-0 d-flex justify-content-center align-items-center ">
    <div class=" text-white bg-dark p-5 border border-dark rounded-lg">
          <h3 class="my-4">TCU Ciencia Accesible</h3>
          <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
            <small id="emailHelp" class="form-text text-muted">Nunca comparta su correo con alguien mas.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
          </div>
          <button type="Submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
  </div>
</div>
