<div *ngIf="material" class="p-5">
  <h2 style="word-break: break-all" class="my-4">{{material.id.nombre}}</h2>
  <a href="comentarios">Ver comentarios</a>
  <div *ngIf="!pdfError" class="mb-3" style="height: 90vh;">
    <ngx-extended-pdf-viewer
      [src]="ruta"
      [showOpenFileButton]="false"
      [showBookmarkButton]="false" useBrowserLocale="true" height="90vh"
      (pdfLoadingFailed)="errorAlMostrarElPDF()"></ngx-extended-pdf-viewer>
  </div>
  <div *ngIf="pdfError" class="alert alert-warning my-4" role="alert">
    Actualmente no se puede mostrar el material
  </div>
  <div id="comentarios">
    <h2 class="my-4">Discute sobre el material</h2>
    <app-foro-listar-comentarios [idMaterial]="idMaterial" [idSubSeccion]="idSubSeccion"></app-foro-listar-comentarios>
  </div>
</div>

