<ngx-extended-pdf-viewer [src]="'http://localhost:4200/assets/example.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
<div class="row">
  <div class="col-md 12">
    <div class="d-flex align-items-center w-100">
      <img src="https://icon-library.net/images/default-user-icon/default-user-icon-14.jpg"  style="width: 40px; height: 40px" class="img-fluid mr-2" alt="Imagen de perfil">
      <app-agregar-comentario (valueChange)="actualizarcomentarios($event)" class="my-0"></app-agregar-comentario>
    </div>
  </div>
  <div class="col-md-12">
    <div *ngIf="comentarios">
      <div *ngFor="let comentario of comentarios">
        <div class="my-3">
          <app-comentario  [nombrePersona]="comentario.nombrePersona" [usuarioMaterialComenta]="comentario.usuarioMaterialComenta"></app-comentario>
        </div>
      </div>
    </div>
  </div>
</div>
