<div class="p-3 w-100" *ngIf="grupos">
  <!--Navbar-->
  <div class="row mx-0 w-100 my-4">
    <div class="col-sm">
      <div class="d-flex justify-content-between">
        <h5>Grupos</h5>
        <app-agregar-grupos-curso *ngIf="this.authService.validarTienePermisoEnAlgunPerfilDeInstitucion(constantes.AGREGAR_GRUPOS.ID, this.nombreInstitucion)" (valueChange)="actualizarGrupos($event)" [curso]="curso"></app-agregar-grupos-curso>
      </div>
      <div *ngIf="grupos.length == 0" class="alert alert-warning my-4" role="alert">
        Este curso no cuenta con grupos asociados
      </div>
    </div>
  </div>

  <div *ngIf="grupos.length > 0" class="row mx-0 w-100">
    <div class="col-md-12 mb-1" *ngFor="let grupo of grupos">
      <nav class="navbar navbar-light navbar-expand-lg"  style="background-color: #DCEDF6">
          <h5 style="color: #005A70">Grupo {{grupo.id.numero}} - {{grupo.id.periodoTiempo}}</h5>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opcionesNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div *ngIf="this.authService.validarTienePermisoEnAlgunPerfilDeInstitucion(constantes.VER_LISTA_ESTUDIANTES.ID, this.nombreInstitucion)" class="collapse navbar-collapse" id="opcionesNavbar">
            <ul class="navbar-nav ml-5">
              <li class="nav-item">
                <a class="nav-item btn d-flex align-items-center" [routerLink]="['/agregar_estudiantes_grupo/',this.nombreInstitucion,this.curso.id,grupo.id.numero,grupo.id.periodoTiempo]">
                  <i class="material-icons mr-1">people</i>
                  Lista Estudiantes
                </a>
              </li>
            </ul>
          </div>
          <!-- Se agregan las subsecciones por cada grupo -->
      </nav>
      <button class="btn btn-lg btn-block text-left my-1" type="button" data-toggle="collapse" [attr.data-target]="'#collapseExample' + grupo.id.numero" aria-expanded="false" aria-controls="collapseExample" style="background-color: #FFCF01">
        Material
      </button>
      <div class="row">
        <div class="col">
          <div class="float-right">
            <!-- Componente para crear subsecciones de material que reciben el grupo-->
            <app-agregar-subseccion-material-grupo [grupo]="grupo" (sbmValueChange)="crearSubseccionMaterial($event)"></app-agregar-subseccion-material-grupo>
          </div>
        </div>
      </div>
      <div class="collapse show" [id]="'collapseExample' + grupo.id.numero">
          <div *ngFor="let sbm of listaSubseccionMateriales">
            <div class="card" *ngIf="grupo.id.numero == sbm.grupo.id.numero">
              <div class="card-header" style="font-style: oblique">
                <div class="row">
                  <div class="col">
                    Subsección: {{' ' + sbm.nombre}}
                  </div>
                  <div class="mx-3" *ngIf="sbm.habilitada">
                    <button class="btn btn-sm btn-success">
                      Habilitada
                    </button>
                  </div>
                  <div class="mx-3" *ngIf="!sbm.habilitada">
                    <button class="btn btn-sm btn-danger">
                      Deshabilitada
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="d-flex ml-auto mx-3">
                      <app-editar-subseccion-material-grupo (sbmActualizarValueChange)="actualizarSubseccionMaterial($event)" [grupo]="grupo" [sbmAEditar]="sbm" class="mx-1"></app-editar-subseccion-material-grupo>
                      <app-eliminar-subseccion-material-grupo (sbmEliminarValueChange)="eliminarSubseccionMaterial($event)" [nombreInstitucion]="grupo.curso.areaTematica.institucion.institucionPK.nombre" [sbm]="sbm"></app-eliminar-subseccion-material-grupo>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p> Sin materiales disponibles </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
