<button type="button" class="btn btn-primary d-flex align-items-center" p-1 (click)="abiriAgregarGrupo()">
  <mat-icon class="mr-1">add_circle</mat-icon>
  Agregar grupo
</button>

<ng-template #modalAgregarGrupo >
  <div class="row mx-0">
    <div class="col-md-12 w-100 d-flex justify-content-center m-3">
      <h5>Agregar nuevo grupo</h5>
    </div>
      <form [formGroup]="agregarGrupoForm" class="col-md-12">
        <div class="form-group">
          <label for="numeroGrupo">Número de grupo</label>
          <input formControlName="numeroGrupo" id="numeroGrupo" type="text" class="form-control" maxlength="2" placeholder="Número de grupo" required>
          <div class="text-danger" *ngIf="numeroGrupo.touched && numeroGrupo.status== 'INVALID'">Este espacio solo debe contener números</div>
        </div>
        <div class="form-group">
          <label for="periodoTiempo">Periodo de tiempo</label>
          <input formControlName="periodoTiempo" id="periodoTiempo" type="text" class="form-control" id="periodoTiempo"
                 placeholder="Periodo de tiempo" required>
          <div class="text-danger" *ngIf="periodoTiempo.touched && periodoTiempo.status== 'INVALID'">Es periodo de tiempo es inválido</div>
        </div>
        <div class="form-group">
          <label for="profesores">Profesor</label>
          <!--Posteriormente se evaluará si puede o no ver una lista de profes -->
          <select formControlName="profesor" [attr.disabled]="true" class="form-control" id="profesores" required>
            <option [ngValue]="usuario.usuarioPK.nombreUsuario">{{usuario.nombre}} {{usuario.apellidos}}</option>
          </select>
          <div class="text-danger" *ngIf="profesor.touched && profesor.status== 'INVALID' ">El valor del profesor seleccionado es incorrecto</div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" [disabled]="agregarGrupoForm.invalid || !this.btnCrearHabilitado" (click)="crearGrupo()" class="btn btn-primary mr-1">
            Agregar
          </button>
          <button (click)="cerrarAgregarGrupo()" class="btn btn-danger">
            Volver
          </button>
          </div>
      </form>
  </div>
</ng-template>
