<div class="card w-100 ">
  <h2> ¿Quienes somos? </h2>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a ty
  </p>
</div>

<div class="w-100 d-flex justify-content-between align-items-center">
  <div class="card w-40">
    <div class="card-body">
      <h2> Misión </h2>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a ty
      </p>
    </div>
  </div>

  <div class="card w-40">
    <div class="card-body" >
      <h2> Visión </h2>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a ty
      </p>
    </div>
  </div>
</div>
