<div *ngIf="usuarioMaterialComenta && fechaComentario" class="row" style="max-width: 100vh">
  <div class="col-md-12 mb-1">
    <div class="d-flex align-items-center">
      <div class="mr-2">
        <img src="https://icon-library.net/images/default-user-icon/default-user-icon-14.jpg"  style="width: 40px; height: 40px" class="img-fluid" alt="Responsive image">
      </div>
      <div class="d-block">
        <h5 class="m-0" style="color: #1C7CD5; font-size: 16px">{{nombrePersona}}</h5>
        <p class="m-0" style="color: #818A91; font-size: 12px">{{fechaComentario}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="p-2 rounded" style="background-color: #DDD">
      <p>{{usuarioMaterialComenta.textoComentario}}</p>
    </div>
  </div>
</div>
