<div class="container instucionesContainer">
<div class="card border-primary mb-3">
  <div class="card-header">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Mis Instituciones</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>
  </div>
  <div class="card-body">
    <div *ngIf="instituciones?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos.
    </div>
    <div class="row">
      <div class="col-md-6 itemInst" *ngFor="let institucion of instituciones">
        <div class="card">
          <img src="{{institucion.foto}}" class="card-img-top" alt="{{institucion.foto}}">
          <div class="card-body">
            <h5 class="card-title">
              <a href="instituciones">{{institucion.institucionPK.nombre}}</a>
            </h5>
            <p class="card-text">{{institucion.descripcion}}</p>
            <a href="instituciones" class="btn btn-primary">Entrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
